<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">

    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="min-h-screen w-screen font-sans">

    <div class="pt-4 h-full flex flex-col">

      <div>
        <nav class="bg-sand-1 p-4 rounded shadow-md">
          <a
            href="{{ route('home') }}"
            class="text-primary hover:text-white hover:bg-primary hover:rounded-md p-2"
          >Home</a>
          <a
            href="{{ route('movies.show', { slug:'batman' }) }}"
            class="text-primary hover:text-white hover:bg-primary hover:rounded-md p-2"
          >Batman</a>
          <a
            href="{{ route('movies.show', { slug:'guardians-of-the-galaxy' }) }}"
            class="text-primary hover:text-white hover:bg-primary hover:rounded-md p-2"
          >Guardians of The Galaxy</a>
          <a
            href="{{ route('movies.show', { slug:'thor-ragnarok' }) }}"
            class="text-primary hover:text-white hover:bg-primary hover:rounded-md p-2"
          >Thor Ragnarok</a>
        </nav>
      </div>
      {{-- Features --}}
      <div class="grow mt-10 mb-8 px-16 xl:px-8 max-w-screen-xl mx-auto">
        <h1>
          {{{ movie }}}
        </h1>
      </div>

      <div
        class="text-sm text-center [&>code]:font-medium [&>code]:text-[#a599ff] bg-sand-12 text-sand-1 relative py-2"
      >
        Route for this page is registered in <code>start/routes.ts</code>file, rendering <code>resources/views/pages/home.edge</code>template
      </div>
    </div>
  </body>
</html>
